* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
@font-face {
     font-family: BurbankBigCondensed-Black;
     src: url('BurbankBigCondensedBlack.ttf');
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#F5F5F5;
    background-attachment:fixed;
    font-family:'BurbankBigCondensed-Black', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
div, ons-list-header, label {
    font-family:'BurbankBigCondensed-Black', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
}
.toolbar--material {
    background-color: #704031!important;
}
.toolbar--material__center {
    font-family:'BurbankBigCondensed-Black', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
    color: #F5F5F5!important;
    font-size: 40px;
}
.back-button--material__icon {
    fill: #F5F5F5!important;
}
.button--material {
    background-color: #704031!important;
    color: #F5F5F5!important;
}
ons-fab.fab--material{
    background-color: #704031!important;
    color: #F5F5F5!important;
    opacity: 0.6!important;
}
.page--material__background {
    /*background-image: url(../img/fundo.png)!important;*/
    background-color: #FFF!important;
    /*background-position: bottom!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;*/
}
.tabbar--material__border {
    background-color: #704031!important;
}
.alert-dialog-button--material {
    color: #704031!important;
}
.alert-dialog-title--material {
    color: #704031!important;
}
.modal__content {
    font-size: 30px!important;
}

.titulo_menu {
    font-weight: bold;
    text-align: center;
    color: #F5F5F5;
    font-size: 20px!important;
}

.titulo_menu i{
    font-size: 25px;
}

.card--material {
    background-color: #704031;
    border-radius: 20px;
    box-shadow:0 5px 0 #ccc;
}

.alert-dialog-content--material {
    font-size: 25px;
}

.alert-dialog-title--material {
    font-size: 30px;
}